body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 50%;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
  color: skyblue;
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
  margin-bottom: 10px;
}

.order-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  text-align: center;
}

.order-container > h3 {
  font-size: 18px;
  margin-top: 20px;
  font-weight: bold;
}

.order-container > p {
  font-weight: 500;
  margin-top: 5px;
}

.order-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-container > div > img {
  width: 300px;
}
img {
  width: 300px;
  height: 300px;
}

input {
  width: 50%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid skyblue;
}

input::placeholder {
  color: skyblue;
}

button {
  width: 100px;
  display: inline-block;
  padding: 10px 0;
  margin: 5px 0;
  background-color: skyblue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.5s;
}

button:hover {
  background-color: rgb(40, 133, 170);
}

a {
  margin-top: 10px;
  text-decoration: none;
  color: skyblue;
}

a:hover {
  color: rgb(40, 133, 170);
}
